@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pixel-code');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');


*{
    margin: 0;
    padding: 0;
}
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0.9;
}
.navBar {
    display: flex;
    gap: 20px;
}  
.navBar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.navBar a:hover {
    color: #a7a7a7;
    transition: all 0.3s ease;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* separa esquerda e direita */
  align-items: center;            /* centraliza verticalmente */
  height: 100vh;
  width: 100%;                /* espaço nas laterais */
}
.boxTitle {
  align-items: left;  
  width: auto;
  padding: 20px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(5px);
  position: relative;
  z-index: 1;
}
.boxP {
  align-items: right;  
  width: 50%;
  padding: 20px;
}

.bgSanté {
    background-image: url("../assets/SantéEstudio.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bgCodeTrouble {
    background-image: url("../assets/codetrouble.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fontSanté {
  
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    position: relative;
    left: 12%;
    z-index: 0;
}
.fontPSanté {
    font-family: 'Playfair Display', cursive;
    font-size: 24px;
    position: relative;
    right: 5%;
}

.fontCodeTrouble {
    
    font-family: 'Pixel Code', monospace;


}

.fontJoysGourmet {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 16px;
}

.fontCjrSolucoes {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}
.fontDefault {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    position: relative;
    left: 60px;

}
