* {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #a7a7a727;
    position: relative;

}

.cardBox {
    display: flex;
    justify-content: flex-end;;
    width: 50%;
    height: 50vh;
    padding: 20px;
    gap: 20px;
    position: relative;
    
}

.cardInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: -100px;
    overflow-x: scroll hidden;
    scroll-timeline-name: cards-timeline;
    scroll-timeline-axis: horizontal;

}

.btnCard, .imgCard {
    width: 100%;
    height: 100%;
    border: none;
    opacity: 50%;
    border-radius: 10px;
    animation: mover 1s linear;
    animation: cards-timeline;
    animation-range: entry 0% exit 100%;
}


.btnCard:hover , .imgCard:hover {
    opacity: 100%;
    transition: all 0.3s ease;
    transform: scale(1.1);
    box-shadow: blue 0px 0px 10px;

}
.btnCard:active, .imgCard:active {
    background-image: "/public/Captura de tela de 2026-03-31 10-47-40.png";
    transition: all 0.1s ease;
}

@keyframes mover {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

/*Resumo da Landing Page Clínica Santé  
O projeto apresenta uma landing page desenvolvida para a Clínica Santé, especializada em estética, saúde e odontologia. O design foi pensado para transmitir credibilidade, acessibilidade e confiança, reforçado por uma identidade visual consistente. A página destaca o logotipo da clínica — uma combinação de formas orgânicas que remetem a um trevo e uma borboleta — acompanhado do nome “SANTÉ” e do slogan “Estética, Saúde & Odontologia”. O portfólio descreve o trabalho como parte da construção da marca, com foco em experiência visual e comunicação clara.*/